.carousel {
  display: flex;
  overflow: auto;
  width: 100vw;
}

.carousel .carousel-item {
  background-color: #ddd;
  width: 51vw;
}

.carousel .carousel-item img {
  width: 51vw;
}

.recipe-photo {
  width: 90%;
}

.start-recipe-btn {
  bottom: 0;
  left: 50%;
  position: fixed;
  transform: translateX(-50%);
}
