/* .header {
  background-color: bisque;
  display: flex;
  height: 50px;
  width: 100%;
}

.img-header {
  height: 50px;
  width: 30px;
  margin-left: 10px;
}

.header-title {
  font-size: medium;
  margin-left: 33%;
  margin-right: 33%;
} */
